.container {
    position: relative;
    display: inline-block;
}

.list {
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    overflow: auto;
    max-height: 200px;
    position: absolute;
    z-index: 9999;
}

.list ul {
    padding: 0;
    margin-bottom: 0;
}

.list ul li {
    list-style: none;
    padding: .5em 1em;
    white-space: nowrap;
    cursor: pointer;
}

.list ul li:hover {
    background-color: rgb(212, 208, 208);
}

